In [122]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [123]:
df=pd.read_csv('../states_all.csv')
df

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,nan,2678885.00,304177.00,1659028.00,715680.00,2653798.00,1481703.00,...,57948.00,58025.00,41167.00,471564.00,196386.00,676174.00,208.33,252.19,207.96,nan
1,1992_ALASKA,ALASKA,1992,nan,1049591.00,106780.00,720711.00,222100.00,972488.00,498362.00,...,9748.00,8789.00,6714.00,79117.00,30847.00,112335.00,nan,nan,nan,258.86
2,1992_ARIZONA,ARIZONA,1992,nan,3258079.00,297888.00,1369815.00,1590376.00,3401580.00,1435908.00,...,55433.00,49081.00,37410.00,437127.00,175210.00,614881.00,215.25,265.37,206.21,262.17
3,1992_ARKANSAS,ARKANSAS,1992,nan,1711959.00,178571.00,958785.00,574603.00,1743022.00,964323.00,...,34632.00,36011.00,27651.00,281338.00,123113.00,405259.00,210.21,256.31,208.63,264.62
4,1992_CALIFORNIA,CALIFORNIA,1992,nan,26260025.00,2072470.00,16546514.00,7641041.00,27138832.00,14358922.00,...,418418.00,363296.00,270675.00,3286034.00,1372011.00,4717112.00,208.40,260.89,196.76,nan
5,1992_COLORADO,COLORADO,1992,nan,3185173.00,163253.00,1307986.00,1713934.00,3264826.00,1642466.00,...,50648.00,45025.00,34533.00,394904.00,160299.00,562613.00,221.02,272.40,213.48,266.42
6,1992_CONNECTICUT,CONNECTICUT,1992,nan,3834302.00,143542.00,1342539.00,2348221.00,3721338.00,2148041.00,...,38058.00,33691.00,28366.00,304284.00,126917.00,436932.00,226.80,273.74,222.42,264.71
7,1992_DELAWARE,DELAWARE,1992,nan,645233.00,45945.00,420942.00,178346.00,638784.00,372722.00,...,8272.00,8012.00,6129.00,67495.00,28338.00,96296.00,217.90,262.87,206.39,261.58
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,nan,709480.00,64749.00,0.00,644731.00,742893.00,329160.00,...,5832.00,5000.00,3433.00,47009.00,18173.00,70000.00,192.60,234.92,178.56,265.98
9,1992_FLORIDA,FLORIDA,1992,nan,11506299.00,788420.00,5683949.00,5033930.00,11305642.00,5166374.00,...,164416.00,142372.00,100835.00,1276685.00,511557.00,1819706.00,213.69,259.91,204.88,262.12
10,1992_GEORGIA,GEORGIA,1992,nan,5536901.00,398701.00,2798674.00,2339526.00,5535942.00,3043984.00,...,99648.00,92374.00,63646.00,787599.00,315539.00,1106441.00,215.59,259.36,206.84,nan
11,1992_HAWAII,HAWAII,1992,nan,996809.00,71273.00,903443.00,22093.00,1040121.00,536115.00,...,13754.00,11750.00,9051.00,107242.00,43882.00,151649.00,214.06,257.41,200.88,nan
12,1992_IDAHO,IDAHO,1992,nan,859329.00,69138.00,531912.00,258279.00,886161.00,473505.00,...,18607.00,18880.00,14593.00,146573.00,66541.00,214345.00,221.56,275.09,nan,nan
13,1992_ILLINOIS,ILLINOIS,1992,nan,9748650.00,597077.00,3073178.00,6078395.00,9850560.00,5010400.00,...,133120.00,134317.00,106475.00,1111167.00,495562.00,1646411.00,nan,nan,nan,nan
14,1992_INDIANA,INDIANA,1992,nan,5060274.00,257044.00,2578149.00,2225081.00,5182754.00,2598925.00,...,73760.00,75477.00,62234.00,601890.00,278161.00,883276.00,221.04,270.10,219.76,nan
15,1992_IOWA,IOWA,1992,nan,2663934.00,125665.00,1176205.00,1362064.00,2795774.00,1446478.00,...,37692.00,36892.00,33057.00,299253.00,138907.00,442752.00,229.88,283.36,222.85,nan
16,1992_KANSAS,KANSAS,1992,nan,2245348.00,121625.00,903199.00,1220524.00,2234915.00,1165749.00,...,36013.00,33288.00,26706.00,284143.00,120960.00,407494.00,nan,nan,nan,nan
17,1992_KENTUCKY,KENTUCKY,1992,nan,2642902.00,289902.00,1643109.00,709891.00,2518082.00,1343438.00,...,49666.00,49993.00,38029.00,400849.00,181786.00,597199.00,215.05,262.24,211.56,nan
18,1992_LOUISIANA,LOUISIANA,1992,nan,3341253.00,367822.00,1848734.00,1124697.00,3362853.00,1888349.00,...,61125.00,55942.00,38368.00,490112.00,196891.00,698442.00,204.14,249.98,196.76,nan
19,1992_MAINE,MAINE,1992,nan,1206819.00,73160.00,511654.00,622005.00,1228869.00,685350.00,...,17154.00,15969.00,13882.00,135320.00,59289.00,195882.00,231.64,278.64,228.38,nan
20,1992_MARYLAND,MARYLAND,1992,nan,4658498.00,228336.00,1778834.00,2651328.00,4698374.00,2628891.00,...,60287.00,52815.00,40426.00,472622.00,189795.00,678498.00,217.32,264.83,209.65,nan
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,nan,5517659.00,273946.00,1439051.00,3804662.00,5245560.00,2751871.00,...,66822.00,60702.00,52425.00,536029.00,230299.00,777050.00,226.60,272.78,223.16,nan
22,1992_MICHIGAN,MICHIGAN,1992,nan,9963137.00,537917.00,2539380.00,6885840.00,10170688.00,4681327.00,...,118963.00,114282.00,90655.00,968910.00,419351.00,1398802.00,219.88,267.35,nan,nan
23,1992_MINNESOTA,MINNESOTA,1992,nan,4684684.00,194092.00,2380754.00,2109838.00,4981125.00,2534882.00,...,62606.00,59810.00,53813.00,500938.00,224426.00,731758.00,228.49,282.39,218.30,nan
24,1992_MISSISSIPPI,MISSISSIPPI,1992,nan,1684706.00,277706.00,901199.00,505801.00,1691990.00,956104.00,...,39839.00,38132.00,26328.00,321614.00,129554.00,451986.00,201.83,246.46,201.53,nan
25,1992_MISSOURI,MISSOURI,1992,nan,4043682.00,255194.00,1903124.00,1885364.00,4197600.00,2168135.00,...,67098.00,64546.00,50534.00,531337.00,235437.00,785722.00,222.22,271.13,216.90,nan
26,1992_MONTANA,MONTANA,1992,nan,828983.00,69947.00,337455.00,421581.00,781009.00,412219.00,...,12839.00,12124.00,10019.00,102124.00,44449.00,147127.00,nan,nan,222.30,nan
27,1992_NEBRASKA,NEBRASKA,1992,nan,1542413.00,85423.00,492256.00,964734.00,1534046.00,909159.00,...,22133.00,21379.00,18999.00,177432.00,79975.00,260541.00,225.33,277.65,220.03,nan
28,1992_NEVADA,NEVADA,1992,nan,1097076.00,45018.00,724032.00,328026.00,1251651.00,572623.00,...,18487.00,16250.00,12242.00,145687.00,57605.00,204330.00,nan,nan,nan,nan
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,nan,1063391.00,31020.00,86296.00,946075.00,1066647.00,581123.00,...,15611.00,13537.00,10752.00,123475.00,47999.00,172479.00,229.66,278.22,223.47,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2017_MASSACHUSETTS,MASSACHUSETTS,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,249.10,297.04,235.70,267.25
1463,2017_MICHIGAN,MICHIGAN,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,235.56,279.51,217.75,277.78
1464,2017_MINNESOTA,MINNESOTA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,248.80,293.96,224.54,265.47
1465,2017_MISSISSIPPI,MISSISSIPPI,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,234.69,270.91,215.20,268.62
1466,2017_MISSOURI,MISSOURI,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,239.50,280.60,222.68,256.34
1467,2017_MONTANA,MONTANA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.72,285.60,222.33,266.04
1468,2017_NEBRASKA,NEBRASKA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,245.59,288.41,224.10,267.21
1469,2017_NEVADA,NEVADA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,231.69,275.37,214.84,268.53
1470,2017_NEW_HAMPSHIRE,NEW_HAMPSHIRE,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,245.32,293.29,228.90,259.81
1471,2017_NEW_JERSEY,NEW_JERSEY,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,247.86,291.70,232.94,274.79
1472,2017_NEW_MEXICO,NEW_MEXICO,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,229.70,269.37,207.70,275.04
1473,2017_NEW_YORK,NEW_YORK,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,235.55,281.69,221.88,255.58
1474,2017_NORTH_CAROLINA,NORTH_CAROLINA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.95,281.93,223.93,264.16
1475,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,244.24,288.17,221.52,262.72
1476,2017_OHIO,OHIO,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.93,287.71,225.26,265.08
1477,2017_OKLAHOMA,OKLAHOMA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,237.33,274.69,216.59,268.45
1478,2017_OREGON,OREGON,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,233.13,282.17,217.53,261.24
1479,2017_PENNSYLVANIA,PENNSYLVANIA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,241.67,286.39,224.92,266.22
1480,2017_RHODE_ISLAND,RHODE_ISLAND,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,237.55,277.18,223.35,269.55
1481,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,234.04,274.67,213.13,265.77
1482,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,241.59,286.38,221.75,259.75
1483,2017_TENNESSEE,TENNESSEE,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,236.69,278.78,218.95,267.36
1484,2017_TEXAS,TEXAS,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.94,282.32,214.88,262.05
1485,2017_UTAH,UTAH,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,242.48,286.82,225.16,260.34
1486,2017_VERMONT,VERMONT,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.89,287.62,226.45,268.75
1487,2017_VIRGINIA,VIRGINIA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,248.04,290.08,227.60,273.40
1488,2017_WASHINGTON,WASHINGTON,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,241.70,289.13,223.12,267.74
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,236.06,273.42,217.32,271.62
1490,2017_WISCONSIN,WISCONSIN,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.39,288.14,219.61,258.70
1491,2017_WYOMING,WYOMING,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,247.82,288.76,226.83,269.37

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [125]:
df2=df.copy()
df2.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,nan,2678885.00,304177.00,1659028.00,715680.00,2653798.00,1481703.00,...,57948.00,58025.00,41167.00,471564.00,196386.00,676174.00,208.33,252.19,207.96,nan
1,1992_ALASKA,ALASKA,1992,nan,1049591.00,106780.00,720711.00,222100.00,972488.00,498362.00,...,9748.00,8789.00,6714.00,79117.00,30847.00,112335.00,nan,nan,nan,258.86
2,1992_ARIZONA,ARIZONA,1992,nan,3258079.00,297888.00,1369815.00,1590376.00,3401580.00,1435908.00,...,55433.00,49081.00,37410.00,437127.00,175210.00,614881.00,215.25,265.37,206.21,262.17
3,1992_ARKANSAS,ARKANSAS,1992,nan,1711959.00,178571.00,958785.00,574603.00,1743022.00,964323.00,...,34632.00,36011.00,27651.00,281338.00,123113.00,405259.00,210.21,256.31,208.63,264.62
4,1992_CALIFORNIA,CALIFORNIA,1992,nan,26260025.00,2072470.00,16546514.00,7641041.00,27138832.00,14358922.00,...,418418.00,363296.00,270675.00,3286034.00,1372011.00,4717112.00,208.40,260.89,196.76,nan

In [126]:
df2.isnull().sum()

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                          263
TOTAL_REVENUE                   212
FEDERAL_REVENUE                 212
STATE_REVENUE                   212
LOCAL_REVENUE                   212
TOTAL_EXPENDITURE               212
INSTRUCTION_EXPENDITURE         212
SUPPORT_SERVICES_EXPENDITURE    212
OTHER_EXPENDITURE               263
CAPITAL_OUTLAY_EXPENDITURE      212
GRADES_PK_G                     173
GRADES_KG_G                     132
GRADES_4_G                      131
GRADES_8_G                      131
GRADES_12_G                     131
GRADES_1_8_G                    131
GRADES_9_12_G                   131
GRADES_ALL_G                    173
AVG_MATH_4_SCORE                956
AVG_MATH_8_SCORE                960
AVG_READING_4_SCORE             959
AVG_READING_8_SCORE             994
dtype: int64

In [127]:
pd.concat([df2.isnull().sum(), 100 * df2.isnull().sum()/len(df2)], 
              axis=1).rename(columns={0:'Missing Records', 1:'Percentage (%)'})

                              Missing Records  Percentage (%)
PRIMARY_KEY                                 0            0.00
STATE                                       0            0.00
YEAR                                        0            0.00
ENROLL                                    263           17.63
TOTAL_REVENUE                             212           14.21
FEDERAL_REVENUE                           212           14.21
STATE_REVENUE                             212           14.21
LOCAL_REVENUE                             212           14.21
TOTAL_EXPENDITURE                         212           14.21
INSTRUCTION_EXPENDITURE                   212           14.21
SUPPORT_SERVICES_EXPENDITURE              212           14.21
OTHER_EXPENDITURE                         263           17.63
CAPITAL_OUTLAY_EXPENDITURE                212           14.21
GRADES_PK_G                               173           11.60
GRADES_KG_G                               132            8.85
GRADES_4_G                                131            8.78
GRADES_8_G                                131            8.78
GRADES_12_G                               131            8.78
GRADES_1_8_G                              131            8.78
GRADES_9_12_G                             131            8.78
GRADES_ALL_G                              173           11.60
AVG_MATH_4_SCORE                          956           64.08
AVG_MATH_8_SCORE                          960           64.34
AVG_READING_4_SCORE                       959           64.28
AVG_READING_8_SCORE                       994           66.62

In [128]:
print('AVG ile başlayan sütunları çok fazla boşluk bulundurduğu için kaldırabilirim.\nDiğer sütunlarıda yine ortalama ve ya yıl değerleri olduğu için enterpolasyon yaparak doldurabilirim.')

AVG ile başlayan sütunları çok fazla boşluk bulundurduğu için kaldırabilirim.
Diğer sütunlarıda yine ortalama ve ya yıl değerleri olduğu için enterpolasyon yaparak doldurabilirim.

In [129]:
columns =      ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE",
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE",
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G",
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G",
             "GRADES_9_12_G", "GRADES_ALL_G"]

In [130]:
for i in columns:
    df2[i].fillna(df2[i].mean(),inplace=True)

In [131]:
pd.concat([df2.isnull().sum(), 100 * df2.isnull().sum()/len(df2)], 
              axis=1).rename(columns={0:'Missing Records', 1:'Percentage (%)'})

                              Missing Records  Percentage (%)
PRIMARY_KEY                                 0            0.00
STATE                                       0            0.00
YEAR                                        0            0.00
ENROLL                                      0            0.00
TOTAL_REVENUE                               0            0.00
FEDERAL_REVENUE                             0            0.00
STATE_REVENUE                               0            0.00
LOCAL_REVENUE                               0            0.00
TOTAL_EXPENDITURE                           0            0.00
INSTRUCTION_EXPENDITURE                     0            0.00
SUPPORT_SERVICES_EXPENDITURE                0            0.00
OTHER_EXPENDITURE                           0            0.00
CAPITAL_OUTLAY_EXPENDITURE                  0            0.00
GRADES_PK_G                                 0            0.00
GRADES_KG_G                                 0            0.00
GRADES_4_G                                  0            0.00
GRADES_8_G                                  0            0.00
GRADES_12_G                                 0            0.00
GRADES_1_8_G                                0            0.00
GRADES_9_12_G                               0            0.00
GRADES_ALL_G                                0            0.00
AVG_MATH_4_SCORE                          956           64.08
AVG_MATH_8_SCORE                          960           64.34
AVG_READING_4_SCORE                       959           64.28
AVG_READING_8_SCORE                       994           66.62

In [132]:
df2['STATE'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT_OF_COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW_HAMPSHIRE',
       'NEW_JERSEY', 'NEW_MEXICO', 'NEW_YORK', 'NORTH_CAROLINA',
       'NORTH_DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE_ISLAND', 'SOUTH_CAROLINA', 'SOUTH_DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST_VIRGINIA', 'WISCONSIN', 'WYOMING', 'AMERICAN_SAMOA',
       'BUREAU_OF_INDIAN_AFFAIRS', 'DOD_DOMESTIC', 'DOD_OVERSEAS', 'GUAM',
       'NORTHERN_MARIANAS', 'PUERTO_RICO', 'VIRGIN_ISLANDS', 'BI', 'DD',
       'NORTHERN_MARIANA_ISLANDS', 'DEPARTMENT_OF_DEFENSE',
       'BUREAU_OF_INDIAN_EDUCATION',
       'DEPARTMENT_OF_DEFENSE_EDUCATION_ACTIVITY', 'U.S._VIRGIN_ISLANDS',
       'DOD_(OVERSEAS_AND_DOMESTIC_COMBINED)', 'BIE',
       'COMMONWEALTH_OF_MARIANAS', 'DOD_-_FOREIGN', 'AS', 'GU', 'MP',
       'PR', 'VI', 'MARIANAS', 'BUREAU_OF_INDIAN_EDUCATIO',
       'DOD_-_DOMESTIC', 'DOD_-_OVERSEAS', 'DOD'], dtype=object)

In [142]:
df3=df.copy()
cols=["ENROLL","TOTAL_REVENUE", "FEDERAL_REVENUE","STATE_REVENUE"]

In [143]:
df3['YEAR'].unique()

array([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017], dtype=int64)

In [144]:
for i in cols:
    for j in df3['YEAR'].unique():
        df3.loc[df3['YEAR']==j,i].fillna(df3[df3["YEAR"]==j][i].mean(),inplace=True)
df3

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,nan,2678885.00,304177.00,1659028.00,715680.00,2653798.00,1481703.00,...,57948.00,58025.00,41167.00,471564.00,196386.00,676174.00,208.33,252.19,207.96,nan
1,1992_ALASKA,ALASKA,1992,nan,1049591.00,106780.00,720711.00,222100.00,972488.00,498362.00,...,9748.00,8789.00,6714.00,79117.00,30847.00,112335.00,nan,nan,nan,258.86
2,1992_ARIZONA,ARIZONA,1992,nan,3258079.00,297888.00,1369815.00,1590376.00,3401580.00,1435908.00,...,55433.00,49081.00,37410.00,437127.00,175210.00,614881.00,215.25,265.37,206.21,262.17
3,1992_ARKANSAS,ARKANSAS,1992,nan,1711959.00,178571.00,958785.00,574603.00,1743022.00,964323.00,...,34632.00,36011.00,27651.00,281338.00,123113.00,405259.00,210.21,256.31,208.63,264.62
4,1992_CALIFORNIA,CALIFORNIA,1992,nan,26260025.00,2072470.00,16546514.00,7641041.00,27138832.00,14358922.00,...,418418.00,363296.00,270675.00,3286034.00,1372011.00,4717112.00,208.40,260.89,196.76,nan
5,1992_COLORADO,COLORADO,1992,nan,3185173.00,163253.00,1307986.00,1713934.00,3264826.00,1642466.00,...,50648.00,45025.00,34533.00,394904.00,160299.00,562613.00,221.02,272.40,213.48,266.42
6,1992_CONNECTICUT,CONNECTICUT,1992,nan,3834302.00,143542.00,1342539.00,2348221.00,3721338.00,2148041.00,...,38058.00,33691.00,28366.00,304284.00,126917.00,436932.00,226.80,273.74,222.42,264.71
7,1992_DELAWARE,DELAWARE,1992,nan,645233.00,45945.00,420942.00,178346.00,638784.00,372722.00,...,8272.00,8012.00,6129.00,67495.00,28338.00,96296.00,217.90,262.87,206.39,261.58
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,nan,709480.00,64749.00,0.00,644731.00,742893.00,329160.00,...,5832.00,5000.00,3433.00,47009.00,18173.00,70000.00,192.60,234.92,178.56,265.98
9,1992_FLORIDA,FLORIDA,1992,nan,11506299.00,788420.00,5683949.00,5033930.00,11305642.00,5166374.00,...,164416.00,142372.00,100835.00,1276685.00,511557.00,1819706.00,213.69,259.91,204.88,262.12
10,1992_GEORGIA,GEORGIA,1992,nan,5536901.00,398701.00,2798674.00,2339526.00,5535942.00,3043984.00,...,99648.00,92374.00,63646.00,787599.00,315539.00,1106441.00,215.59,259.36,206.84,nan
11,1992_HAWAII,HAWAII,1992,nan,996809.00,71273.00,903443.00,22093.00,1040121.00,536115.00,...,13754.00,11750.00,9051.00,107242.00,43882.00,151649.00,214.06,257.41,200.88,nan
12,1992_IDAHO,IDAHO,1992,nan,859329.00,69138.00,531912.00,258279.00,886161.00,473505.00,...,18607.00,18880.00,14593.00,146573.00,66541.00,214345.00,221.56,275.09,nan,nan
13,1992_ILLINOIS,ILLINOIS,1992,nan,9748650.00,597077.00,3073178.00,6078395.00,9850560.00,5010400.00,...,133120.00,134317.00,106475.00,1111167.00,495562.00,1646411.00,nan,nan,nan,nan
14,1992_INDIANA,INDIANA,1992,nan,5060274.00,257044.00,2578149.00,2225081.00,5182754.00,2598925.00,...,73760.00,75477.00,62234.00,601890.00,278161.00,883276.00,221.04,270.10,219.76,nan
15,1992_IOWA,IOWA,1992,nan,2663934.00,125665.00,1176205.00,1362064.00,2795774.00,1446478.00,...,37692.00,36892.00,33057.00,299253.00,138907.00,442752.00,229.88,283.36,222.85,nan
16,1992_KANSAS,KANSAS,1992,nan,2245348.00,121625.00,903199.00,1220524.00,2234915.00,1165749.00,...,36013.00,33288.00,26706.00,284143.00,120960.00,407494.00,nan,nan,nan,nan
17,1992_KENTUCKY,KENTUCKY,1992,nan,2642902.00,289902.00,1643109.00,709891.00,2518082.00,1343438.00,...,49666.00,49993.00,38029.00,400849.00,181786.00,597199.00,215.05,262.24,211.56,nan
18,1992_LOUISIANA,LOUISIANA,1992,nan,3341253.00,367822.00,1848734.00,1124697.00,3362853.00,1888349.00,...,61125.00,55942.00,38368.00,490112.00,196891.00,698442.00,204.14,249.98,196.76,nan
19,1992_MAINE,MAINE,1992,nan,1206819.00,73160.00,511654.00,622005.00,1228869.00,685350.00,...,17154.00,15969.00,13882.00,135320.00,59289.00,195882.00,231.64,278.64,228.38,nan
20,1992_MARYLAND,MARYLAND,1992,nan,4658498.00,228336.00,1778834.00,2651328.00,4698374.00,2628891.00,...,60287.00,52815.00,40426.00,472622.00,189795.00,678498.00,217.32,264.83,209.65,nan
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,nan,5517659.00,273946.00,1439051.00,3804662.00,5245560.00,2751871.00,...,66822.00,60702.00,52425.00,536029.00,230299.00,777050.00,226.60,272.78,223.16,nan
22,1992_MICHIGAN,MICHIGAN,1992,nan,9963137.00,537917.00,2539380.00,6885840.00,10170688.00,4681327.00,...,118963.00,114282.00,90655.00,968910.00,419351.00,1398802.00,219.88,267.35,nan,nan
23,1992_MINNESOTA,MINNESOTA,1992,nan,4684684.00,194092.00,2380754.00,2109838.00,4981125.00,2534882.00,...,62606.00,59810.00,53813.00,500938.00,224426.00,731758.00,228.49,282.39,218.30,nan
24,1992_MISSISSIPPI,MISSISSIPPI,1992,nan,1684706.00,277706.00,901199.00,505801.00,1691990.00,956104.00,...,39839.00,38132.00,26328.00,321614.00,129554.00,451986.00,201.83,246.46,201.53,nan
25,1992_MISSOURI,MISSOURI,1992,nan,4043682.00,255194.00,1903124.00,1885364.00,4197600.00,2168135.00,...,67098.00,64546.00,50534.00,531337.00,235437.00,785722.00,222.22,271.13,216.90,nan
26,1992_MONTANA,MONTANA,1992,nan,828983.00,69947.00,337455.00,421581.00,781009.00,412219.00,...,12839.00,12124.00,10019.00,102124.00,44449.00,147127.00,nan,nan,222.30,nan
27,1992_NEBRASKA,NEBRASKA,1992,nan,1542413.00,85423.00,492256.00,964734.00,1534046.00,909159.00,...,22133.00,21379.00,18999.00,177432.00,79975.00,260541.00,225.33,277.65,220.03,nan
28,1992_NEVADA,NEVADA,1992,nan,1097076.00,45018.00,724032.00,328026.00,1251651.00,572623.00,...,18487.00,16250.00,12242.00,145687.00,57605.00,204330.00,nan,nan,nan,nan
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,nan,1063391.00,31020.00,86296.00,946075.00,1066647.00,581123.00,...,15611.00,13537.00,10752.00,123475.00,47999.00,172479.00,229.66,278.22,223.47,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2017_MASSACHUSETTS,MASSACHUSETTS,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,249.10,297.04,235.70,267.25
1463,2017_MICHIGAN,MICHIGAN,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,235.56,279.51,217.75,277.78
1464,2017_MINNESOTA,MINNESOTA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,248.80,293.96,224.54,265.47
1465,2017_MISSISSIPPI,MISSISSIPPI,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,234.69,270.91,215.20,268.62
1466,2017_MISSOURI,MISSOURI,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,239.50,280.60,222.68,256.34
1467,2017_MONTANA,MONTANA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.72,285.60,222.33,266.04
1468,2017_NEBRASKA,NEBRASKA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,245.59,288.41,224.10,267.21
1469,2017_NEVADA,NEVADA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,231.69,275.37,214.84,268.53
1470,2017_NEW_HAMPSHIRE,NEW_HAMPSHIRE,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,245.32,293.29,228.90,259.81
1471,2017_NEW_JERSEY,NEW_JERSEY,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,247.86,291.70,232.94,274.79
1472,2017_NEW_MEXICO,NEW_MEXICO,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,229.70,269.37,207.70,275.04
1473,2017_NEW_YORK,NEW_YORK,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,235.55,281.69,221.88,255.58
1474,2017_NORTH_CAROLINA,NORTH_CAROLINA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.95,281.93,223.93,264.16
1475,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,244.24,288.17,221.52,262.72
1476,2017_OHIO,OHIO,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.93,287.71,225.26,265.08
1477,2017_OKLAHOMA,OKLAHOMA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,237.33,274.69,216.59,268.45
1478,2017_OREGON,OREGON,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,233.13,282.17,217.53,261.24
1479,2017_PENNSYLVANIA,PENNSYLVANIA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,241.67,286.39,224.92,266.22
1480,2017_RHODE_ISLAND,RHODE_ISLAND,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,237.55,277.18,223.35,269.55
1481,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,234.04,274.67,213.13,265.77
1482,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,241.59,286.38,221.75,259.75
1483,2017_TENNESSEE,TENNESSEE,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,236.69,278.78,218.95,267.36
1484,2017_TEXAS,TEXAS,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.94,282.32,214.88,262.05
1485,2017_UTAH,UTAH,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,242.48,286.82,225.16,260.34
1486,2017_VERMONT,VERMONT,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.89,287.62,226.45,268.75
1487,2017_VIRGINIA,VIRGINIA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,248.04,290.08,227.60,273.40
1488,2017_WASHINGTON,WASHINGTON,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,241.70,289.13,223.12,267.74
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,236.06,273.42,217.32,271.62
1490,2017_WISCONSIN,WISCONSIN,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,240.39,288.14,219.61,258.70
1491,2017_WYOMING,WYOMING,2017,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,247.82,288.76,226.83,269.37

In [145]:
pd.concat([df3.isnull().sum(), 100 * df3.isnull().sum()/len(df3)], 
              axis=1).rename(columns={0:'Missing Records', 1:'Percentage (%)'})

                              Missing Records  Percentage (%)
PRIMARY_KEY                                 0            0.00
STATE                                       0            0.00
YEAR                                        0            0.00
ENROLL                                    263           17.63
TOTAL_REVENUE                             212           14.21
FEDERAL_REVENUE                           212           14.21
STATE_REVENUE                             212           14.21
LOCAL_REVENUE                             212           14.21
TOTAL_EXPENDITURE                         212           14.21
INSTRUCTION_EXPENDITURE                   212           14.21
SUPPORT_SERVICES_EXPENDITURE              212           14.21
OTHER_EXPENDITURE                         263           17.63
CAPITAL_OUTLAY_EXPENDITURE                212           14.21
GRADES_PK_G                               173           11.60
GRADES_KG_G                               132            8.85
GRADES_4_G                                131            8.78
GRADES_8_G                                131            8.78
GRADES_12_G                               131            8.78
GRADES_1_8_G                              131            8.78
GRADES_9_12_G                             131            8.78
GRADES_ALL_G                              173           11.60
AVG_MATH_4_SCORE                          956           64.08
AVG_MATH_8_SCORE                          960           64.34
AVG_READING_4_SCORE                       959           64.28
AVG_READING_8_SCORE                       994           66.62

In [108]:
df4=df.copy()

for col in columns:
    df4.loc[:, col].interpolate(limit_direction='both',inplace=True)

In [98]:
df4

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,727716.0,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,727716.0,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,727716.0,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,727716.0,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,727716.0,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN
5,1992_COLORADO,COLORADO,1992,727716.0,3185173.0,163253.0,1307986.0,1713934.0,3264826.0,1642466.0,...,50648.0,45025.0,34533.0,394904.0,160299.0,562613.0,221.023429,272.398433,213.480890,266.419687
6,1992_CONNECTICUT,CONNECTICUT,1992,727716.0,3834302.0,143542.0,1342539.0,2348221.0,3721338.0,2148041.0,...,38058.0,33691.0,28366.0,304284.0,126917.0,436932.0,226.798480,273.739345,222.417599,264.713904
7,1992_DELAWARE,DELAWARE,1992,727716.0,645233.0,45945.0,420942.0,178346.0,638784.0,372722.0,...,8272.0,8012.0,6129.0,67495.0,28338.0,96296.0,217.899972,262.868585,206.389052,261.577921
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,1992,727716.0,709480.0,64749.0,0.0,644731.0,742893.0,329160.0,...,5832.0,5000.0,3433.0,47009.0,18173.0,70000.0,192.600553,234.924621,178.557612,265.976765
9,1992_FLORIDA,FLORIDA,1992,727716.0,11506299.0,788420.0,5683949.0,5033930.0,11305642.0,5166374.0,...,164416.0,142372.0,100835.0,1276685.0,511557.0,1819706.0,213.689751,259.908848,204.882606,262.118986
10,1992_GEORGIA,GEORGIA,1992,727716.0,5536901.0,398701.0,2798674.0,2339526.0,5535942.0,3043984.0,...,99648.0,92374.0,63646.0,787599.0,315539.0,1106441.0,215.594906,259.359434,206.844175,NaN
11,1992_HAWAII,HAWAII,1992,727716.0,996809.0,71273.0,903443.0,22093.0,1040121.0,536115.0,...,13754.0,11750.0,9051.0,107242.0,43882.0,151649.0,214.056666,257.410887,200.880272,NaN
12,1992_IDAHO,IDAHO,1992,727716.0,859329.0,69138.0,531912.0,258279.0,886161.0,473505.0,...,18607.0,18880.0,14593.0,146573.0,66541.0,214345.0,221.562534,275.090294,NaN,NaN
13,1992_ILLINOIS,ILLINOIS,1992,727716.0,9748650.0,597077.0,3073178.0,6078395.0,9850560.0,5010400.0,...,133120.0,134317.0,106475.0,1111167.0,495562.0,1646411.0,NaN,NaN,NaN,NaN
14,1992_INDIANA,INDIANA,1992,727716.0,5060274.0,257044.0,2578149.0,2225081.0,5182754.0,2598925.0,...,73760.0,75477.0,62234.0,601890.0,278161.0,883276.0,221.037742,270.098944,219.763258,NaN
15,1992_IOWA,IOWA,1992,727716.0,2663934.0,125665.0,1176205.0,1362064.0,2795774.0,1446478.0,...,37692.0,36892.0,33057.0,299253.0,138907.0,442752.0,229.884078,283.360009,222.852939,NaN
16,1992_KANSAS,KANSAS,1992,727716.0,2245348.0,121625.0,903199.0,1220524.0,2234915.0,1165749.0,...,36013.0,33288.0,26706.0,284143.0,120960.0,407494.0,NaN,NaN,NaN,NaN
17,1992_KENTUCKY,KENTUCKY,1992,727716.0,2642902.0,289902.0,1643109.0,709891.0,2518082.0,1343438.0,...,49666.0,49993.0,38029.0,400849.0,181786.0,597199.0,215.048158,262.241282,211.562307,NaN
18,1992_LOUISIANA,LOUISIANA,1992,727716.0,3341253.0,367822.0,1848734.0,1124697.0,3362853.0,1888349.0,...,61125.0,55942.0,38368.0,490112.0,196891.0,698442.0,204.140211,249.983926,196.762268,NaN
19,1992_MAINE,MAINE,1992,727716.0,1206819.0,73160.0,511654.0,622005.0,1228869.0,685350.0,...,17154.0,15969.0,13882.0,135320.0,59289.0,195882.0,231.638840,278.635384,228.380027,NaN
20,1992_MARYLAND,MARYLAND,1992,727716.0,4658498.0,228336.0,1778834.0,2651328.0,4698374.0,2628891.0,...,60287.0,52815.0,40426.0,472622.0,189795.0,678498.0,217.317708,264.825493,209.645497,NaN
21,1992_MASSACHUSETTS,MASSACHUSETTS,1992,727716.0,5517659.0,273946.0,1439051.0,3804662.0,5245560.0,2751871.0,...,66822.0,60702.0,52425.0,536029.0,230299.0,777050.0,226.597918,272.783201,223.160076,NaN
22,1992_MICHIGAN,MICHIGAN,1992,727716.0,9963137.0,537917.0,2539380.0,6885840.0,10170688.0,4681327.0,...,118963.0,114282.0,90655.0,968910.0,419351.0,1398802.0,219.878352,267.353194,NaN,NaN
23,1992_MINNESOTA,MINNESOTA,1992,727716.0,4684684.0,194092.0,2380754.0,2109838.0,4981125.0,2534882.0,...,62606.0,59810.0,53813.0,500938.0,224426.0,731758.0,228.493596,282.392205,218.301709,NaN
24,1992_MISSISSIPPI,MISSISSIPPI,1992,727716.0,1684706.0,277706.0,901199.0,505801.0,1691990.0,956104.0,...,39839.0,38132.0,26328.0,321614.0,129554.0,451986.0,201.828261,246.458035,201.529328,NaN
25,1992_MISSOURI,MISSOURI,1992,727716.0,4043682.0,255194.0,1903124.0,1885364.0,4197600.0,2168135.0,...,67098.0,64546.0,50534.0,531337.0,235437.0,785722.0,222.215600,271.131545,216.898079,NaN
26,1992_MONTANA,MONTANA,1992,727716.0,828983.0,69947.0,337455.0,421581.0,781009.0,412219.0,...,12839.0,12124.0,10019.0,102124.0,44449.0,147127.0,NaN,NaN,222.301419,NaN
27,1992_NEBRASKA,NEBRASKA,1992,727716.0,1542413.0,85423.0,492256.0,964734.0,1534046.0,909159.0,...,22133.0,21379.0,18999.0,177432.0,79975.0,260541.0,225.332648,277.654523,220.034963,NaN
28,1992_NEVADA,NEVADA,1992,727716.0,1097076.0,45018.0,724032.0,328026.0,1251651.0,572623.0,...,18487.0,16250.0,12242.0,145687.0,57605.0,204330.0,NaN,NaN,NaN,NaN
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1992,727716.0,1063391.0,31020.0,86296.0,946075.0,1066647.0,581123.0,...,15611.0,13537.0,10752.0,123475.0,47999.0,172479.0,229.664564,278.216326,223.466140,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2017_MASSACHUSETTS,MASSACHUSETTS,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,249.102674,297.042225,235.699697,267.250533
1463,2017_MICHIGAN,MICHIGAN,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,235.555473,279.505455,217.753242,277.782589
1464,2017_MINNESOTA,MINNESOTA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,248.804303,293.962376,224.538513,265.468928
1465,2017_MISSISSIPPI,MISSISSIPPI,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,234.694193,270.914908,215.203306,268.616822
1466,2017_MISSOURI,MISSOURI,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,239.502289,280.596022,222.681081,256.344701
1467,2017_MONTANA,MONTANA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,240.721634,285.600437,222.326722,266.035007
1468,2017_NEBRASKA,NEBRASKA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,245.590675,288.405955,224.096225,267.208219
1469,2017_NEVADA,NEVADA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,231.685162,275.365456,214.841696,268.528555
1470,2017_NEW_HAMPSHIRE,NEW_HAMPSHIRE,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,245.319839,293.290654,228.900649,259.806407
1471,2017_NEW_JERSEY,NEW_JERSEY,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,247.855231,291.698552,232.943318,274.786040
1472,2017_NEW_MEXICO,NEW_MEXICO,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,229.704282,269.374084,207.704354,275.044552
1473,2017_NEW_YORK,NEW_YORK,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,235.548457,281.688000,221.884015,255.578543
1474,2017_NORTH_CAROLINA,NORTH_CAROLINA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,240.951393,281.926028,223.930906,264.157584
1475,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,244.243515,288.172322,221.519266,262.720477
1476,2017_OHIO,OHIO,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,240.928372,287.714266,225.261138,265.081922
1477,2017_OKLAHOMA,OKLAHOMA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,237.326270,274.688883,216.587775,268.450642
1478,2017_OREGON,OREGON,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,233.132460,282.173028,217.531073,261.236934
1479,2017_PENNSYLVANIA,PENNSYLVANIA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,241.672327,286.393832,224.924702,266.216684
1480,2017_RHODE_ISLAND,RHODE_ISLAND,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,237.554934,277.180126,223.353443,269.553823
1481,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,234.043993,274.673821,213.127835,265.767860
1482,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,241.588947,286.376160,221.750123,259.753002
1483,2017_TENNESSEE,TENNESSEE,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,236.692515,278.777735,218.952797,267.355727
1484,2017_TEXAS,TEXAS,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,240.943671,282.320510,214.878493,262.046853
1485,2017_UTAH,UTAH,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,242.480766,286.816559,225.159173,260.342577
1486,2017_VERMONT,VERMONT,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,240.893297,287.623388,226.445343,268.752420
1487,2017_VIRGINIA,VIRGINIA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,1212.0,1103.0,1024.0,9403.0,5084.0,446508.0,247.820619,288.761812,226.831211,269.371456

In [113]:
pd.options.display.float_format = '{:.2f}'.format
for col in columns:
    display(pd.concat([df[col],df2[col],df3[col],df4[col]],axis=1).describe())

          ENROLL     ENROLL     ENROLL     ENROLL
count    1229.00    1492.00    1229.00    1492.00
mean   915930.82  884316.80  915930.82  792780.72
std   1065280.42  969186.62 1065280.42 1008276.89
min     43866.00   43866.00   43866.00   43866.00
25%    258314.00  315094.00  258314.00  132878.75
50%    648313.00  736584.33  648313.00  510448.00
75%   1014528.00  921178.00 1014528.00  921178.00
max   6307022.00 6307022.00 6307022.00 6307022.00

       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count        1280.00        1492.00        1280.00        1492.00
mean      9092081.86     8588194.38     9092081.86     8090706.84
std      11745187.40    10948466.21    11745187.40    11153174.40
min        465650.00      465650.00      465650.00      465650.00
25%       2186305.25     2546260.75     2186305.25     2044669.00
50%       5079546.00     5545854.92     5079546.00     4005586.00
75%      10859847.75     9276958.00    10859847.75     9276958.00
max      89217262.00    89217262.00    89217262.00    89217262.00

       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count          1280.00          1492.00          1280.00          1492.00
mean         766372.34        743264.98        766372.34        674956.52
std         1145241.59       1062222.03       1145241.59       1084241.64
min           31020.00         31020.00         31020.00         31020.00
25%          189354.00        217020.00        189354.00        123012.00
50%          403376.50        516741.00        403376.50        328684.00
75%          828966.00        750503.25        828966.00        750503.25
max         9990221.00       9990221.00       9990221.00       9990221.00

       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count        1280.00        1492.00        1280.00        1492.00
mean      4216552.95     4070431.99     4216552.95     3784502.92
std       5543072.00     5146443.10     5543072.00     5242583.30
min             0.00           0.00           0.00           0.00
25%       1153097.25     1356434.00     1153097.25     1175899.00
50%       2537073.50     3127639.00     2537073.50     2122772.50
75%       5080939.25     4269811.00     5080939.25     4269811.00
max      50904567.00    50904567.00    50904567.00    50904567.00

       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count        1280.00        1492.00        1280.00        1492.00
mean      4109156.57     3774497.41     4109156.57     3631247.39
std       5482970.61     5144422.27     5482970.61     5212326.44
min         22093.00       22093.00       22093.00       22093.00
25%        715834.50      944796.25      715834.50      745758.00
50%       2055780.50     1753913.80     2055780.50     1525442.00
75%       4768680.00     3959033.25     4768680.00     3959033.25
max      36105265.00    36105265.00    36105265.00    36105265.00

,TOTAL_EXPENDITURE,TOTAL_EXPENDITURE,TOTAL_EXPENDITURE,TOTAL_EXPENDITURE
count,1280.00,1492.00,1280.00,1492.00
mean,9196680.87,8698452.17,9196680.87,8178959.83
std,11978126.90,11161317.65,11978126.90,11372469.58
min,481665.00,481665.00,481665.00,481665.00
25%,2165404.50,2523968.50,2165404.50,2034229.00
50%,5234505.50,5690278.88,5234505.50,4025103.50
75%,10745191.00,9434922.00,10745191.00,9434922.00
max,85320133.00,85320133.00,85320133.00,85320133.00

,INSTRUCTION_EXPENDITURE,INSTRUCTION_EXPENDITURE,INSTRUCTION_EXPENDITURE,INSTRUCTION_EXPENDITURE
count,1280.00,1492.00,1280.00,1492.00
mean,4762966.37,4503542.45,4762966.37,4217127.14
std,6293003.72,5863246.51,6293003.72,5980897.52
min,265549.00,265549.00,265549.00,265549.00
25%,1168032.00,1343611.25,1168032.00,921494.00
50%,2657452.00,2937209.32,2657452.00,2095197.50
75%,5568028.00,4938819.75,5568028.00,4938819.75
max,43964520.00,43964520.00,43964520.00,43964520.00

,SUPPORT_SERVICES_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE
count,1280.00,1492.00,1280.00,1492.00
mean,2680330.68,2537289.67,2680330.68,2382702.19
std,3353348.56,3125649.83,3353348.56,3190809.50
min,139963.00,139963.00,139963.00,139963.00
25%,635790.00,767368.75,635790.00,585700.00
50%,1525405.50,1673645.84,1525405.50,1161078.00
75%,3229650.75,2795887.50,3229650.75,2795887.50
max,26058021.00,26058021.00,26058021.00,26058021.00

,OTHER_EXPENDITURE,OTHER_EXPENDITURE,OTHER_EXPENDITURE,OTHER_EXPENDITURE
count,1229.00,1492.00,1229.00,1492.00
mean,429204.62,434863.61,429204.62,369267.85
std,534069.32,484837.68,534069.32,502639.45
min,11541.00,11541.00,11541.00,11541.00
25%,102831.00,135428.25,102831.00,57022.00
50%,271596.00,367233.50,271596.00,225309.00
75%,518600.00,461308.12,518600.00,456891.50
max,3995951.00,3995951.00,3995951.00,3995951.00

,CAPITAL_OUTLAY_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
count,1280.00,1492.00,1280.00,1492.00
mean,902769.29,848065.66,902769.29,839046.06
std,1327561.82,1236894.52,1327561.82,1239500.57
min,12708.00,12708.00,12708.00,12708.00
25%,181564.50,216339.75,181564.50,216339.75
50%,510259.50,517779.56,510259.50,454302.00
75%,966851.50,897595.00,966851.50,897595.00
max,10223657.00,10223657.00,10223657.00,10223657.00

       GRADES_PK_G  GRADES_PK_G  GRADES_PK_G  GRADES_PK_G
count      1319.00      1492.00      1319.00      1492.00
mean      17601.61     16503.05     17601.61     15766.75
std       30016.17     28383.77     30016.17     28703.40
min           0.00         0.00         0.00         0.00
25%        2021.00      2449.00      2021.00      1401.35
50%        8106.00      8127.25      8106.00      5555.50
75%       22295.00     19149.25     22295.00     19326.00
max      250911.00    250911.00    250911.00    250911.00

       GRADES_KG_G  GRADES_KG_G  GRADES_KG_G  GRADES_KG_G
count      1360.00      1492.00      1360.00      1492.00
mean      63746.76     63176.90     63746.76     58389.40
std       80205.14     76594.41     80205.14     78490.77
min         544.00       544.00       544.00       544.00
25%       11745.00     14016.00     11745.00      9595.00
50%       41597.50     48897.00     41597.50     38077.50
75%       73865.25     70372.75     73865.25     70372.75
max      530531.00    530531.00    530531.00    530531.00

       GRADES_4_G  GRADES_4_G  GRADES_4_G  GRADES_4_G
count     1361.00     1492.00     1361.00     1492.00
mean     64538.93    63919.95    64538.93    59167.59
std      80293.39    76710.97    80293.39    78628.08
min        633.00      633.00      633.00      633.00
25%      13739.00    15195.50    13739.00     9741.50
50%      43272.00    49884.50    43272.00    37152.00
75%      75481.00    71814.25    75481.00    71814.25
max     493415.00   493415.00   493415.00   493415.00

       GRADES_8_G  GRADES_8_G  GRADES_8_G  GRADES_8_G
count     1361.00     1492.00     1361.00     1492.00
mean     64271.06    63734.95    64271.06    58899.90
std      78910.55    75384.12    78910.55    77340.00
min        437.00      437.00      437.00      437.00
25%      13342.00    15682.75    13342.00     9845.75
50%      43339.00    49571.00    43339.00    37652.50
75%      76566.00    72131.00    76566.00    72131.00
max     500143.00   500143.00   500143.00   500143.00

       GRADES_12_G  GRADES_12_G  GRADES_12_G  GRADES_12_G
count      1361.00      1492.00      1361.00      1492.00
mean      54268.92     53453.26     54268.92     49728.38
std       67889.28     64891.64     67889.28     66477.61
min         311.00       311.00       311.00       311.00
25%       10919.00     13437.00     10919.00      8661.75
50%       36735.00     39566.00     36735.00     32926.00
75%       67460.00     64616.25     67460.00     64616.25
max      498403.00    498403.00    498403.00    498403.00

       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count       1361.00       1492.00       1361.00       1492.00
mean      519214.04     514568.97     519214.04     475952.86
std       643638.43     614895.71     643638.43     630436.40
min         4878.00       4878.00       4878.00       4878.00
25%       110626.00     121152.25     110626.00      78847.50
50%       345775.00     401586.50     345775.00     304106.00
75%       611905.00     574911.75     611905.00     574911.75
max      3929869.00    3929869.00    3929869.00    3929869.00

       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count        1361.00        1492.00        1361.00        1492.00
mean       247071.35      243854.85      247071.35      226420.42
std        307705.63      294060.26      307705.63      301361.61
min          1808.00        1808.00        1808.00        1808.00
25%         51471.00       59197.50       51471.00       38413.50
50%        164260.00      181701.00      164260.00      143893.00
75%        290502.00      282539.00      290502.00      282539.00
max       2013687.00     2013687.00     2013687.00     2013687.00

       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count       1319.00       1492.00       1319.00       1492.00
mean      802441.51     788809.44     802441.51     740189.46
std       970703.07     913428.58     970703.07     931566.06
min         7254.00       7254.00       7254.00       7254.00
25%       181065.00     229357.75     181065.00     167785.50
50%       550342.00     647326.00     550342.00     452406.00
75%       928275.50     872422.00     928275.50     878113.00
max      5944746.00    5944746.00    5944746.00    5944746.00

In [2]:
print('Kayıp değerleri(boşlukları) doldurmak için yılların ortalamasını kullanabiliriz ancak bazı yıllara ait ortalamaları hesaplayamıyoruz çünkü tüm değerler NaN.')

Kayıp değerleri(boşlukları) doldurmak için yılların ortalamasını kullanabiliriz ancak bazı yıllara ait ortalamaları hesaplayamıyoruz çünkü tüm değerler NaN.

In [3]:
print('Enterpolasyon ile doldurmak ise verilerin gerçek değerlerinden önemli ölçüde sapmasına neden olabilir. Yanıltıcı sonuçlar elde edebiliriz. Ama doğru bir şekilde artan yada azalan durumlarda yıllara göre enterpolasyon uygulanabilir.')

Enterpolasyon ile doldurmak ise verilerin gerçek değerlerinden önemli ölçüde sapmasına neden olabilir. Yanıltıcı sonuçlar elde edebiliriz. Ama doğru bir şekilde artan yada azalan durumlarda yıllara göre enterpolasyon uygulanabilir.